# ===============================
# 🔐 MINI PKI CONFIGURATION
# ===============================

# --- OpenSSL ---
OPENSSL_BIN=openssl
OPENSSL_CONFIG=config/openssl.cnf

# --- CA ---
CA_NAME="Mini PKI Root CA"
CA_DIR=pki/root
CA_CERT=pki/root/certs/root-ca.crt
CA_KEY=pki/root/private/root-ca.key

# --- CRL ---
CRL_PATH=pki/root/crl/root-ca.crl
CRL_DAYS=30

# --- Default crypto ---
DEFAULT_KEY_SIZE=4096
DEFAULT_DAYS=3650
DEFAULT_MD=sha256

# --- User certificates ---
USER_BASE_DIR=pki/users

# --- Profiles ---
PROFILE_SMIME=config/profiles/email-smime.cnf

# --- PKCS#12 ---
P12_CANAME="Mini PKI Root CA"


###################################################
# ATTENTION YOU NEED ALSO TO :
#LINUX
# Top of each script add :

if [ -f ".env" ]; then
  export $(grep -v '^#' .env | xargs)
fi

#THEN
OPENSSL_CONFIG="${OPENSSL_CONFIG:-config/openssl.cnf}"

#WINDOWS
if (Test-Path ".env") {
    Get-Content ".env" | ForEach-Object {
        if ($_ -match "=" -and $_ -notmatch "^#") {
            $name, $value = $_ -split "=", 2
            Set-Item -Path "env:$name" -Value $value
        }
    }
}